* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --bg-main-color: white;
  --bg-footer: #F7F7F7;
  --border-footer: #DDDDDD; 
  --bg-black: black;
  --bg-light: #F7F7F7;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-main-color);
}

html {
  font-size: 62.5%;
}

section {
  min-height: 20rem;
}

.accommodations {
  padding: 2rem 6rem;
}

.activities {
  padding: 6rem;
}

.bg-black {
  background-color: var(--bg-black);
}

.bg-light {
  background-color: var(--bg-black);
}

.bg-red {
  background-color: red;
}

.border-rounded-4 {
  border-radius: 1rem;
}

.cities {
  padding: 6rem 6rem 0rem 6rem;
}

.cities ul {
  list-style-type: none;
}

.community {
  padding: 6rem 6rem 2rem 6rem;
}

.effect-elevation a {
  transition: all 200ms ease-in;
}

.effect-elevation a:hover  {
  transform: scale(1.02);
}

.effect-elevation a:active  {
  transform: scale(1);
}

.footer {
  padding: 2rem 6rem 2rem 6rem;
  background-color: var(--bg-footer);
  border-top: 1px solid var(--border-footer);
  font-size: medium;
}

.f-header {
  font-size: 6rem;
  font-weight: bolder;
}

.f-hero {
  font-size: 5.8rem;
  font-weight: bolder;
  line-height: 120%;
}

.fs-7 {
  font-size: small;
}

.header {
  background: #000000;
  text-align: center;
  margin: auto auto;
}

.hero {
  padding: 2rem 8rem 2rem 8rem;
  height: 98vh;
  background-image: url("./public/images/background-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mb-6 {
  margin-bottom: 6rem;
}

.nav-fx {
  border-bottom: 0.1rem solid #ffffff00;
  position: relative;
}

.nav-fx::after {
  content: '';
  position: absolute;
  height: 0.1rem;
  width: 100%;
  bottom: 0;
  background-color: white;
  opacity: 0;
  transition: 0.5s ease-out;
}

.nav-fx:hover::after {
  opacity: 1;
}

.p-6 {
  padding: 6rem;
}

.cta{
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.6rem 2.6rem;
}

.py-6 {
  padding: 6rem 0;
}

.py-header {
  padding: 1.8rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.search-bar {
  border-radius: 2rem;
  padding: 4rem 2rem;
}

.search-button {
  min-height: 4.4rem;
  min-width: 4.4rem;
  border: none;
  border-radius: 50%;
  background-color: #fa215b;
}

.search-button:hover {
  background-color: #DC0E64;
}

.search-bar-input {
  display: flex;
  align-items: center;
  text-align: center;
  height: 6.6rem;
  min-width: 80rem;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 4rem;
}

.search-bar-input>div {
  width: 13rem;

}

.search-bar-input>:nth-child(1) {
  min-width: 24rem;
  border-right: 0.1rem solid #cccccc;
}

.search-bar-input>:nth-child(2) {
  min-width: 16rem;
  border-right: 0.1rem solid #cccccc;
}

.search-bar-input>:nth-child(3) {
  min-width: 16rem;
  border-right: 0.1rem solid #cccccc;
}

.search-bar-input>:nth-child(4) {
  min-width: 16rem;
  border: none;
}

.search-bar-input>:nth-child(5) {
  margin-left: auto;
}

.search-bar-input>div * {
  width: 70%;
  margin: auto;
  border: none;
  text-align: left;
}

.search-bar-input>div:hover {
  padding: 0.2rem 0;
  background-color: #e7e7e7;
  border-radius: 4rem;
  cursor: pointer;
}

.search-bar-input input {
  background: transparent;
}

.sitemap ul {
  font-size: medium;
  list-style-type: none;
}

.square-7 {
  height: 7rem;
  width: 7rem;
}