* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --bg-main-color: white;
  --bg-footer: #F7F7F7;
  --border-footer: #DDDDDD; 
  --bg-black: black;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-main-color);
}

html {
  font-size: 62.5%;
}

section {
  min-height: 20rem;
}

.accommodations {
  padding: 2rem 6rem;
}

.activities {
  padding: 6rem;
}

.bg-black {
  background-color: var(--bg-black);
}

.bg-red {
  background-color: red;
}

.border-rounded-4 {
  border-radius: 1rem;
}

.cities {
  padding: 6rem 6rem 0rem 6rem;
}

.cities ul {
  list-style-type: none;
}

.community {
  padding: 6rem 6rem 2rem 6rem;
}

.effect-elevation a {
  transition: all 200ms ease-in;
}

.effect-elevation a:hover  {
  transform: scale(1.02);
}

.effect-elevation a:active  {
  transform: scale(1);
}

.footer {
  padding: 2rem 6rem 2rem 6rem;
  background-color: var(--bg-footer);
  border-top: 1px solid var(--border-footer);
  font-size: medium;
}

.f-hero {
  font-size: 6rem;
  font-weight: bolder;
  line-height: 110%;
}

.fs-7 {
  font-size: small;
}

.header {
  height: 0.6rem;
  background: #000000;
  text-align: center;
  padding: 20px 40px;
  margin: auto auto;
}

.hero {
  padding: 2rem 6rem;
  height: 100vh;
  background-image: url("./public/images/background-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mb-6 {
  margin-bottom: 6rem;
}

.p-6 {
  padding: 6rem;
}

.p-btn {
  padding: 2rem 2.4rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.sitemap ul {
  font-size: medium;
  list-style-type: none;
}

.square-7 {
  height: 7rem;
  width: 7rem;
}